# {{ ansible_managed }}

[mysql]
hostname={{ siptrackd_db_host }}
username={{ siptrackd_db_user }}
password={{ siptrackd_db_pass }}
dbname={{ siptrackd_db_name }}

[sqlite]
filename={{ siptrackd_sqlite_db }}
